!!! 5
%html
	%head
		%link{:rel => :stylesheet, :type => :"text/css", :href => "css/application.css"}
		%script(src="js/maxknee.js")
		
	.susy-container
		%header 
			%h1 MaxKnee.com 
		%body
			#menu 

		.main
			Coming soon! 

		.footer
			Copyright Max Knee 2015