!!! 5
%html
	%head
		%link{:rel => :stylesheet, :type => :"text/css", :href => "css/application.css"}
	%header 
		%h1 MaxKnee.com
	%body
		.susy-container
			#menu 
				%ul 
					%li About
					%li Resume
					%li Blog

			.main
				So Welcome to Maxknee.com. 
				%p A little about myself, a new web dev


