- def render_file(filename)
	-	contents = File.read(filename)
	-	Haml::Engine.new(contents).render

!!! 5
%html
	%head
		%link{:rel => :stylesheet, :type => :"text/css", :href => "css/application.css"}
		%script(src="js/maxknee.js")
		
	.susy-container
		%header 
			%h1 MaxKnee.com 
		%body
			#menu 
				= render_file('haml/shared/_menu.haml')

			.main
				So Welcome to Maxknee.com. 
				%p Front End Guy

			.footer 
				= render_file('haml/shared/_footer.haml')

