@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
/* Susy Setup */
/* Font Setup */
/* line 1, ../../scss/objects/_typography.scss */
h1 {
  font-family: Lato, "Open-Sans", sans-serif; }
  @media (min-width: 600px) and (max-width: 1024px) {
    /* line 1, ../../scss/objects/_typography.scss */
    h1 {
      margin: 0; } }

/* line 5, ../../scss/utilities/_mixins.scss */
#menu ul {
  margin: 0;
  padding: 0; }
  /* line 7, ../../scss/utilities/_mixins.scss */
  #menu ul li {
    list-style: none;
    list-style-image: none; }

/* line 1, ../../scss/pages/_home.scss */
html {
  background-color: #787a7e; }

/* line 4, ../../scss/pages/_home.scss */
.susy-container {
  max-width: 1200px;
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding-bottom: 0.5rem;
  overflow: hidden;
  *zoom: 1; }
  /* line 12, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  .susy-container:after {
    content: " ";
    display: block;
    clear: both; }

/* line 11, ../../scss/pages/_home.scss */
.top-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  @media (min-width: 600px) and (max-width: 1024px) {
    /* line 11, ../../scss/pages/_home.scss */
    .top-container {
      font-size: 4rem; } }

/* line 22, ../../scss/pages/_home.scss */
#menu {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-bottom: 2rem;
  overflow: hidden;
  *zoom: 1; }
  /* line 34, ../../scss/pages/_home.scss */
  #menu li {
    display: inline-block;
    text-align: center;
    line-height: 1.5rem;
    width: 20%; }
    /* line 40, ../../scss/pages/_home.scss */
    #menu li a {
      padding: 0 5px; }
  @media (min-width: 600px) and (max-width: 1024px) {
    /* line 22, ../../scss/pages/_home.scss */
    #menu {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      border: none;
      margin-top: 10px;
      margin-bottom: 3%;
      margin-left: 10px;
      padding: 5px 0;
      border-top: 1px solid black;
      border-bottom: 1px solid black; }
      /* line 55, ../../scss/pages/_home.scss */
      #menu li {
        width: 23.72881%;
        float: left;
        margin: auto;
        position: relative; }
        /* line 60, ../../scss/pages/_home.scss */
        #menu li a {
          margin: auto;
          text-align: center;
          font-size: 2rem;
          padding: 0; } }

/* line 70, ../../scss/pages/_home.scss */
.main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4rem;
  display: block; }
  /* line 77, ../../scss/pages/_home.scss */
  .main p {
    overflow: hidden;
    *zoom: 1;
    font-size: 1.2rem; }

/* line 92, ../../scss/pages/_home.scss */
.footer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem; }

/* line 1, ../../scss/objects/_elements.scss */
html {
  font-family: Lato, "Open-Sans", sans-serif; }

/* line 5, ../../scss/objects/_elements.scss */
p {
  margin: 0; }

/* line 7, ../../scss/objects/_elements.scss */
a {
  text-decoration: none;
  color: #FF6138;
  cursor: pointer;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  /* line 12, ../../scss/objects/_elements.scss */
  a:hover {
    color: #FFFF9D; }

/* line 17, ../../scss/objects/_elements.scss */
.susy-container {
  max-width: 1200px;
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px; }
  /* line 12, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  .susy-container:after {
    content: " ";
    display: block;
    clear: both; }
