html {
	background-color: $background-gray;
}
.susy-container {
	@include container;
	overflow: hidden;
	padding-bottom: 0.5rem;
	@include clearfix;
}

.top-container {
  width: 80%;
  margin-left: auto;
	margin-right: auto;
	text-align: center;
	
	@include breakpoint((min-width $mobile) (max-width $tablet)) {
	  font-size: 4rem;
	}
}

#menu {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-right: 10px;
	padding-bottom: 2rem;
	@include clearfix;
	
	ul { 
		@extend %list-reset;
	}
	
	li {
		display: inline-block;
		text-align: center;
		line-height: 1.5rem;
		width: 20%;

		a {
			padding: 0 5px;
		}
	}

	@include breakpoint((min-width $mobile) (max-width $tablet)) {
		@include span(12);
		border: none;
		margin-top: 10px;
		margin-bottom: 3%;
		margin-left: 10px;
		padding: 5px 0;
		border-top: 1px solid black;
		border-bottom: 1px solid black;

		li {
			@include span(3);
			margin: auto;
			position: relative;

			a {
				margin: auto;
				text-align: center;
				font-size: 2rem;
				padding: 0;
			}
		}
	}
}

.main {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.4rem;
	display: block;

	p {
		@include clearfix;
		font-size: 1.2rem;
	}
}

.more-info {
}

.about {

}



.footer {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1rem;
}

