%grid {
	display: block;
}

%list-reset {
  margin: 0; padding: 0;
  li { list-style: none; list-style-image: none; }
}

@mixin content-box($color) {
	border: 1px solid $color;
	margin: 20px -20px;
	padding: 20px;
}