// Setting up base styles

@import "susy";
@import "compass";
@import "breakpoint";


@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

/* Susy Setup */

$susy: (
	container: 1200px,
	columns: 12,
	gutters: 1/4,
	math: fluid,
	output: float,
	gutter-position: outside,
	column-width: 100px,
	);

/* Font Setup */

$font-stack: Lato, 'Open-Sans', sans-serif;
$base-font-size: 10px;
$base-line-height: 10px;
$rhythm-unit: "rem";

$base-font-family: $font-stack;
$font-body:        $font-stack;

// View ports
$mobile: 600px;
$tablet: 1024px;


// Colors

$background-gray: 	#e0e0e0;
$orange: 						#fba32a;
$green:							#79BD8F;
$dark-green:				#00A388;
$light-blue:				#6DAFFF;
$yellow:						#FFFF9D;
$red:								#FF6138;

@import "compass/support";  // Add Compass' IE and vendor prefix support variables.
@import "compass/utilities/general/clearfix"; // Better than Drupal's clearfix.
@import "compass/utilities/sprites"; // See http://compass-style.org/help/tutorials/spriting/
@import "compass/css3";     // Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/css3/box-sizing"; // Use box-sizing
@import "compass/typography/vertical_rhythm"; // Helps set up a vertical rhythm.
