body {
	font-family: $font-stack;
	font-size: 1.6rem;
}

p { margin: 0;}

a {
	text-decoration: none;
	color: $red;
	cursor: pointer;
	@include transition(all 0.2s ease-in-out);
	&:hover {
		color: $yellow;
	}
}

.susy-container {
	@include container;
	margin-left: auto;
	margin-right: auto;
	padding: 0 40px;
}